
@{
    ViewBag.Title = "AdminFallas";
}

<h2>Administrador de Fallas</h2>

<html lang="es-pe">
<head>
    @*<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">*@

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/Scripts/generic.js"></script>
    <script src="~/Scripts/adminfallas.js"></script>
    <script src="~/Scripts/sweetalert.js"></script>



    <script>
        //$(document).ready(function () {
        //    $('#UploadM').click(function () {

        //        var fileUpload = $("#filesm").get(0);
        //        var files = fileUpload.files;

        //        // Create  a FormData object
        //        var fileData = new FormData();

        //        // if there are multiple files , loop through each files
        //        for (var i = 0; i < files.length; i++) {
        //            fileData.append(files[i].name, files[i]);
        //        }

        //        // Adding more keys/values here if need
        //        fileData.append('Test', "Test Object values");

        //        $.ajax({
        //            url: '/Home/UploadFiles', //URL to upload files 
        //            type: "POST", //as we will be posting files and other method POST is used
        //            processData: false, //remember to set processData and ContentType to false, otherwise you may get an error
        //            contentType: false,
        //            data: fileData,
        //            success: function (result) {
        //                alert(result);
        //            },
        //            error: function (err) {
        //                alert(err.statusText);
        //            }
        //        });

        //    });
        //});




        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {
            $("#datepicker1").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {
            $("#datepicker2").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {
            $("#datepicker3").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {
            $("#datepicker4").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {
            $("#datepicker5").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {
            $("#datepicker6").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {
            $("#datepicker7").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });

        ////////////////AdminFallaG//////////////

        $(function () {
            $("#frecepcion").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {
            $("#freclamofab").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {
            $("#faceptacion").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });



    </script>
</head>

<body>



    <div class="input-group mb-3">

    </div>
    <table class='table'>

        <tr>
            <td>
                @*<label>Fecha de Inicio:</label>*@
                <input type="text" placeholder="Fecha de Inicio" size="6" class="form-control" readonly="" id="datepicker" />

            </td>

            <td>
                @*<label>Fecha de Fin:</label>*@
                <input type="text" placeholder="Fecha de Fin" class="form-control" size="6" readonly="" id="datepicker1" />

            </td>

            <td>
                <input type="text" class="form-control"
                       id="txtordenservicio"
                       size="8"
                       placeholder="Ingrese Orden de Servicio" />

            </td>
            <td>

                <select width="250px" class="form-control" id="cboEstadoFalla">
                </select>

            </td>
            <td>
                <button class="btn btn-primary"
                        onclick="BuscarFallaAdmin()"
                        type="button" id="btnordenservicio">
                    Buscar
                </button>
                <input type="hidden" class="form-control"
                       name="idFallaS" size="10" id="idFallaS" />
                @* </div>*@
            </td>
        </tr>

    </table>


    <br>
    <br>


    <div id="divTabla">

    </div>

    <!-- Button trigger modal -->
    <!-- Modal -->
  
    <div class="modal fade" id="ModFalla" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        @*<div class="modal-dialog modal-dialog-centered" role="document">*@
        <div class="modal-dialog modal-lg" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar Falla</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Datos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#fallaadmin" role="tab" aria-controls="pills-home" aria-selected="true">Datos Adicionales</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Adjuntos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="histestados" data-toggle="pill" href="#historialestados" role="tab" aria-controls="pills-home" aria-selected="true">Historial Estados</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="equipomod" data-toggle="pill" href="#equipomodA" role="tab" aria-controls="pills-home" aria-selected="true">Equipo</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                <!--<form id="frmModFallaAdminYano" method="post">

                                    <table class='table' id="tabla">

                                        <tr>
                                            <td>-->
                                                @*<div class="mb-3 col-md-5">*@

                                                <!--<label>Falla</label>
                                                <input type="text" class="form-control"
                                                       name="tituloM" size="10" />
                                                <input type="hidden" id="idEquipoFinalM" name="idEquipoFM">-->

                                                @* </div>*@
                                            <!--</td>

                                            <td>-->
                                                @*<div class="mb-3 col-md-5">*@

                                                <!--<label>Estado</label>
                                                <select width="250px" disabled="" name="idEstado" class="form-control" id="cboEstado">
                                                </select>-->



                                                @*</div>*@

                                            <!--</td>
                                            <!--<td>-->-->
                                            <!--@*<div class=" mb-3">*@-->
                                            <!--<!--<label>Comentarios:</label>
                        <textarea class="form-control" id="Comentario" name="ComentarioM"
                                  rows="3" placeholder="Comentario"></textarea>


                    </td>-->


                                            <!--<td>-->


                                                @*<div class="mb-3 col-md-5">*@
                                                <!--<input type="hidden" class="form-control"
                                                       name="idFallaM" size="10" id="idFalla" />-->
                                                @* </div>*@
                                            <!--</td>

                                        </tr>
                                        <tr>
                                            <td>-->
                                                @*<div class="mb-3 col-md-5">*@

                                                <!--<label>Solicitante</label>
                                                <select width="250px" name="idusrSolicitanteM" class="form-control" id="cboSolicitanteM">
                                                </select>-->


                                                @*</div>*@
                                            <!--</td>
                                            <td>-->
                                                @*<div class=" mb-3">*@
                                                <!--<label>Número OS</label>
                                                <input type="text" class="form-control"
                                                       name="numOSM" />-->
                                                @*</div>*@


                                            <!--</td>
                                            <td>-->
                                                @*<div class="mb-3 col-md-5">*@

                                                <!--<label>Grupo</label>
                                                <select width="250px" name="idGrupoM" class="form-control" id="cboGrupoM">
                                                </select>-->



                                                @*</div>*@

                                            <!--</td>

                                        </tr>

                                        <tr>
                                            <td>-->
                                                @*<div class=" mb-3">*@
                                                <!--<label>Nro. Serie</label>
                                                <input type="text" class="form-control"
                                                       name="numserieM" />-->
                                                @*</div>*@

                                            <!--</td>
                                            <td>-->
                                                @*<div class="mb-3 col-md-5">*@


                                                <!--<label>Fecha Falla:</label>
                                                <input type="text" name="FechaFallaM" class="form-control" size="6" readonly="" id="datepicker5" />-->


                                                @*</div>*@


                                            <!--</td>
                                            <td>-->
                                                @*<div class="mb-3 col-md-5">*@

                                                <!--<label>División</label>
                                                <select width="250px" name="idDivisionM" class="form-control" id="cboDivisionM">
                                                </select>-->


                                                @*</div>*@


                                            <!--</td>

                                        </tr>
                                        <tr>

                                            <td>-->
                                                @*<div class=" mb-3">*@
                                                <!--<label>Tipo de Equipo</label>
                                                <select width="250px" name="idTipoEquipoM" disabled = "" class="form-control" id="cboEquipoM">
                                                </select>

                                            </td>
                                            <td>-->
                                                @*<div class="mb-3 col-md-5">*@


                                                <!--<label>Modelo</label>
                                                <select width="250px" name="idModeloM" disabled = "" class="form-control" id="cboModeloM">
                                                </select>-->


                                                @*</div>*@


                                            <!--</td>
                                            <td>-->
                                                @*<div class="mb-3 col-md-5">*@

                                                <!--<label id="lblCliente">Cliente</label>
                                                <select width="250px" name="idClienteM" disabled = "" class="form-control" id="cboClienteM">
                                                </select>

                                                <input type="hidden" class="form-control"
                                                       name="clienteRefM" size="10" id="clienteRefM" />-->

                                                @*</div>*@


                                            <!--</td>

                                        </tr>


                                        <tr>

                                            <td>-->
                                                @*<div class=" mb-3">*@
                                                <!--<label id="lblFaena">Faena</label>
                                                <select width="250px" name="idFaenaM" disabled = "" class="form-control" id="cboFaenaM">
                                                </select>

                                                <input type="hidden" class="form-control"
                                                       name="faenaRefM" size="10" id="faenaRefM" />



                                            </td>
                                            <td>-->
                                                @*<div class="mb-3 col-md-5">*@


                                                <!--<label>Fecha Reparación:</label>
                                                <input type="text" name="FechaReparacionM" class="form-control" size="6" readonly="" id="datepicker6" />-->





                                                @*</div>*@


                                            <!--</td>
                                            <td>-->
                                                @*<div class="mb-3 col-md-5">*@


                                                <!--<label>Fecha Estimada</label>
                                                <input type="text" name="FechaEstimadaM" class="form-control" size="6" readonly="" id="datepicker7" />-->




                                                @*</div>*@


                                            <!--</td>

                                        </tr>
                                        <tr>

                                            <td>-->
                                                @*<div class=" mb-3">*@
                                                <!--<label>Descripcion</label>
                                                <input type="text" class="form-control"
                                                       name="DescripcionM" />

                                            </td>
                                            <td>
                                                <input type="hidden" class="form-control"
                                                       id="idEstadoAnterior"
                                                       size="8" name="idEstadoAnt" />

                                            </td>
                                        </tr>
                                        <tr>-->

                                            @*<td>

                            <label>Comentarios:</label>
                            <textarea class="form-control" id="Comentario" name="ComentarioM"
                                      rows="3" placeholder="Comentario"></textarea>


                        </td>*@




                                        </tr>

                                    </table>

                                </form>-->





                            </div>



                            <div class="tab-pane" id="fallaadmin" role="tabpanel" aria-labelledby="pills-home-tab">

                                <form id="frmModFallaAdminG" method="post">

                                    <table class='table' id="tabla">

                                        <tr>
                                            <td>

                                                <label>Ing. Garantias</label>
                                                <select width="250px" name="IngGarantias" class="form-control" id="cboIngGarantia">
                                                </select>

                                            </td>

                                            <td>


                                                <label>Responsable PSG</label>
                                                <select width="250px" name="ResponsablePSG" class="form-control" id="cboResponsablePSG">
                                                </select>



                                            </td>


                                            <td>
                                                <label>Fabrica</label>
                                                <select width="250px" name="Fabrica" class="form-control" id="cboFabrica">
                                                </select>

                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Nro de Reporte</label>
                                                <input type="text" class="form-control"
                                                       name="NroReporte" />

                                            </td>
                                            <td>
                                                <label>Nro AFA</label>
                                                <input type="text" class="form-control"
                                                       name="NroAfa" />


                                            </td>
                                            <td>


                                                <label>Tipo de Garantia</label>
                                                <select width="250px" name="TipoGarantia" class="form-control" id="cboTipoGarantia">
                                                </select>



                                            </td>

                                        </tr>

                                        <tr>
                                            <td>

                                                <label>Fecha Recepcion:</label>
                                                <input type="text" name="FechaRecepcion" class="form-control" size="6" readonly="" id="frecepcion" />

                                            </td>
                                            <td>
                                                @*<div class="mb-3 col-md-5">*@


                                                <label>Fecha Reclamado a Fab:</label>
                                                <input type="text" name="FechaReclamoFab" class="form-control" size="6" readonly="" id="freclamofab" />


                                                @*</div>*@


                                            </td>
                                            <td>

                                                <label>Total Reclamado</label>
                                                <input type="text" class="form-control"
                                                       name="TotalReclamado" />



                                            </td>

                                        </tr>
                                        <tr>

                                            <td>
                                                <label>Fecha Aceptación:</label>
                                                <input type="text" name="FechaAceptacion" class="form-control" size="6" readonly="" id="faceptacion" />


                                            </td>
                                            <td>

                                                <label>Total Aceptado</label>
                                                <input type="text" class="form-control"
                                                       name="TotalAceptado" />



                                            </td>
                                            <td>
                                                <label>Margen</label>
                                                <input type="text" class="form-control"
                                                       name="Margen" />


                                            </td>

                                            <td>

                                                <input type="hidden" class="form-control"
                                                       name="idFallaG" size="10" id="idFallaG" />

                                            </td>

                                        </tr>



                                    </table>

                                </form>





                            </div>




                            <div class="tab-pane" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <form id="frmAdjunto" method="post">

                                    <table class='table'>
                                        <tr>




                                            <td>

                                                @*<input type="file" name="NombreFile" title="seleccionar fichero" id="Archivo" />*@

                                                <input type="file" id="filesm" name="filesm" />

                                                @*<br />
                                                <input type="button" id="UploadM" value="Cargar Archivo" class="btn btn-primary" />*@




                                            </td>



                                            <td>
                                                <select width="100px" class="form-control" name="idTipoAdjunto" id="cboTipoAdjuntos">
                                                </select>


                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control"
                                                       id="txtComentario"
                                                       size="8" name="Comentario"
                                                       placeholder="Ingrese Comentario" />

                                            </td>
                                            <td>
                                                <button class="btn btn-primary"
                                                        onclick="AgregarAdjunto()"
                                                        type="button" id="btnadjunto">
                                                    Agregar Adjunto
                                                </button>
                                            </td>

                                            <td>



                                                <input type="hidden" class="form-control"
                                                       name="Nombre" size="10" id="NombreArchivo" />

                                            </td>

                                            <td>



                                                <input type="hidden" class="form-control"
                                                       name="idUsrCreacion" value="1" size="10" id="UsrCreacion" />

                                            </td>
                                            <td>



                                                <input type="hidden" class="form-control"
                                                       name="idFalla" value="16" size="10" id="idFalla" />

                                            </td>
                                        </tr>
                                    </table>

                                </form>

                                <br>


                                <div id="divTablaAdjuntos">

                                </div>

                            </div>

                            <div class="tab-pane" id="historialestados" role="tabpanel" aria-labelledby="pills-home-tab">

                                <table class='table'>
                                    <tr>





                                        <td>
                                            <label>Estado:</label>
                                            <select width="100px" class="form-control" name="idEstadoAdm" id="cboEstadoAdm">
                                            </select>


                                        </td>
                                        <td>

                                            @*<div class=" mb-3">*@
                                            <label>Comentarios:</label>
                                            <textarea class="form-control form-control-lg" id="ComentarioAdm" name="ComentarioAdmin"
                                                      rows="3" placeholder="Comentario"></textarea>



                                        </td>


                                        <td>
                                            <br />
                                            <button class="btn btn-primary"
                                                    onclick="ModificarEstadoAdm()"
                                                    type="button" id="btnadjuntom">
                                                Modificar Estado
                                            </button>
                                        </td>


                                    </tr>

                                </table>






                                <div id="divTablaHistEstM">

                                </div>


                            </div>

                            <div class="tab-pane" id="equipomodA" role="tabpanel" aria-labelledby="pills-home-tab">

                                <form id="frmEquipoModA" method="post">

                                    <table class='table' id="tabla">


                                        <tr>
                                            @*<td>*@

                                                @*<label>Codigo Equipo:</label>*@


                                                @*<input type="text" class="form-control"
                                                       name="idEquipoM" id="idEquipoEM" />*@

                                               



                                            @*</td>*@
                                            <td>
                                                <input type="hidden" class="form-control"
                                                       name="idEquipoM" id="idEquipoEM" />

                                                <label>Serie:</label>
                                                <input type="text" class="form-control" id="SerieEquipoM"
                                                       onkeypress="BuscaEquipoxSerieA(event)"
                                                       name="SerieM" size="1" />


                                            </td>

                                            <td>
                                                @*<div class=" mb-3">*@
                                                <label>Nombre:</label>
                                                <input type="text" class="form-control"
                                                       name="NombreEquipoM" />
                                                @*</div>*@


                                            </td>

                                            <td>
                                                @*<div class=" mb-3">*@
                                                <label>Estado:</label>
                                                <input type="text" class="form-control"
                                                       name="EstadoM" />
                                                @*</div>*@


                                            </td>



                                        </tr>
                                        <tr>
                                            <td>
                                                @*<div class=" mb-3">*@
                                                <label>Tipo de Equipo:</label>
                                                <select width="250px" name="TipoEquipoM"  class="form-control" id="cboTipoEquipoEM">
                                                </select>

                                            </td>

                                            <td>
                                                @*<div class=" mb-3">*@
                                                <label>Cliente:</label>
                                                <select width="250px" name="ClienteEM"   class="form-control" id="cboClienteEM">
                                                </select>

                                            </td>

                                            <td>
                                                @*<div class=" mb-3">*@
                                                <label>Faena:</label>
                                                <select width="250px" name="FaenaEM" class="form-control" id="cboFaenaEM">
                                                </select>

                                            </td>

                                            <td>

                                                <label>Modelo:</label>
                                                <select width="250px" name="ModeloEM"  class="form-control" id="cboModeloEM">
                                                </select>


                                            </td>

                                        </tr>


                                    </table>



                                </form>

                            </div>


                        </div> @*///// Este es el principal*@








                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" onclick="ModificarFallaAdmin()" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>



