
@{
    ViewBag.Title = "Tabs";
}

<h2>Tabs</h2>

<!DOCTYPE html>
<html>
<head>

    <style>
        input {
            width: 100%;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $("#tags").autocomplete({
                source: availableTags
            });
        });


        $(document).ready(function () {
            $('#Upload').click(function () {

                var fileUpload = $("#files").get(0);
                var files = fileUpload.files;

                // Create  a FormData object
                var fileData = new FormData();

                // if there are multiple files , loop through each files
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding more keys/values here if need
                fileData.append('Test', "Test Object values");

                $.ajax({
                    url: '/Home/UploadFiles', //URL to upload files 
                    type: "POST", //as we will be posting files and other method POST is used
                    processData: false, //remember to set processData and ContentType to false, otherwise you may get an error
                    contentType: false,
                    data: fileData,
                    success: function (result) {
                        alert(result);
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

            });
        });



    </script>
</head>
<body>

    <div class="ui-widget">
        <label for="tags">Tags: </label>
        <input id="tags">
    </div>



    <input type="file" id="files" name="files" />
    <input type="button" id="Upload" value="Upload" class="btn btn-primary" />



</body>




</html>

