
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
        });
    });
</script>

<html >

<body>

    <p>Date: <input type="text" id="datepicker"></p>


</body>
</html>

